<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pagina 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> <ion-grid>
  <ion-row>
    <ion-col> <div>1 de 2</div></ion-col>
    <ion-col> <div>2 de 2</div></ion-col>
    <ion-col> <div>3 de 2</div></ion-col>
  </ion-row>
  <ion-row>
    <ion-col> <div>1 de 3</div></ion-col>
    <ion-col> <div>2 de 3</div></ion-col>
    <ion-col> <div>3 de 3</div></ion-col>
  </ion-row>
  <ion-row>
    <ion-col> <div>1 de 3</div></ion-col>
    <ion-col col-6=""> <div>2 de 3</div></ion-col>
    <ion-col> <div>3 de 3</div></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6=""> <div>1 de 3</div></ion-col>
    <ion-col> <div>2 de 3</div></ion-col>
    <ion-col> <div>3 de 3</div></ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset-4=""> <div>1 de 2</div></ion-col>
    <ion-col> <div>2 de 2</div></ion-col>
    <ion-col> <div>2 de 2</div></ion-col>
  </ion-row>
  <ion-row>
    <ion-col> <div>1 de 2</div></ion-col>
    <ion-col offset-4=""> <div>2 de 2</div></ion-col>
  </ion-row>
  <ion-row>
    <ion-col> <div>1 de 4</div></ion-col>
    <ion-col> <div>2 de 4</div></ion-col>
    <ion-col> <div>3 de 4</div></ion-col>
    <ion-col> <div>4 de 4</div></ion-col>
  </ion-row>

</ion-grid>
</ion-content>
